.article {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: $whiteMedium;
    transition: .3s ease;
    @include bp(desktop) {
        top: 10%;
        right: 10%;
        bottom: 10%;
        left: 10%;
        display: flex;
        width: 80vw;
        height: 80vh;
        border-radius: 25px;
    }
}
.article--recruiter {
    background-color: $whitePurple;
}
.article--hidden {
    transform: scale(0);
}
.article__container {
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    @include bp(desktop) {
        position: relative;
        width: 70%;
        overflow: hidden;
    }
}
.article__header {
    position: relative;
    width: 100%;
    height: 90%;
    @include bp(desktop) {
        width: auto;
        height: auto;
    }
}
.article__image {
    z-index: -1;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include bp(desktop) {
        display: none;
    }
}
.article__image--desktop {
    display: none;
    @include bp(desktop) {
        display: block;
        width: 30%;
        height: 100%;
        object-fit: cover;
        border-radius: 0px 25px 25px 0px;
    }
}
.article__input--image {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.article__placeholder {
    z-index: 1;
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #D5D5D5;
    @include bp(desktop) {
        display: none;
    }
}
.article__placeholder--desktop {
    display: none;
    @include bp(desktop) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;
        padding: 0px;
        border: none;
        border-radius: 0px 25px 25px 0px;
        outline: none;
        cursor: pointer;
        background-color: #D5D5D5;
    }
}
.article__icon {
    position: absolute;
}
.article__heading {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 32px;
    left: 24px;
    z-index: 2000;
    @include bp(desktop) {
        position: static;
        width: auto;
        height: auto;
        padding: 64px 32px 48px 32px;
    }
}
.article__input {
    display: block;
    background: transparent;
    border: none;
    -webkit-appearance: none;
}
.article__label {
    font-size: 15px;
    font-weight: 300;
    color: $white;
    @include bp(desktop) {
        color: $blueDark;
    }
    &--upload {
        color: $black;
    }
    &--recruiter {
        @include bp(desktop) {
            color: $black;
        }
    }
}
.article__input--label {
    font-size: 15px;
    font-weight: 300;
    color: $white;
    @include bp(desktop) {
        color: $black;
    }
    &::placeholder {
        font-size: 15px;
        font-weight: 300;
        color: $white;
        @include bp(desktop) {
            color: $black;
        }
    }
}
.article__title {
    margin: 8px 0px 0px 0px;
    font-size: 30px;
    font-weight: 500;
    color: $white;
    @include bp(desktop) {
        color: $blueDark;
    }
    &--upload {
        color: $black;
    }
    &--recruiter {
        @include bp(desktop) {
            color: $purpleDark;
        }
    }
}
.article__input--title {
    margin: 8px 0px 0px 0px;
    font-size: 30px;
    font-weight: 500;
    color: $white;
    @include bp(desktop) {
        color: $purpleDark;
    }
    &::placeholder {
        font-size: 30px;
        font-weight: 500;
        color: $white;
        @include bp(desktop) {
            color: $purpleDark;
        }
    }
}
.article__content {
    padding: 28px 24px;
    @include bp(desktop) {
        height: 40%;
        padding: 0px 32px;
        overflow: auto;
    }
}
.article__items {
    margin: 0px;
    padding: 0px;
    list-style: none;
    @include bp(desktop) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.article__item:not(:last-child) {
    margin-bottom: 32px;
}
.article__category {
    margin: 0px 0px 12px 0px;
    font-size: 20px;
    font-weight: 500;
    color: $blueDark;
    &--recruiter {
        color: $purpleDark;
    }
}
.article__input--category {
    margin: 0px 0px 12px 0px;
    font-size: 20px;
    font-weight: 500;
    color: $purpleDark;
    &::placeholder {
        font-size: 20px;
        font-weight: 500;
        color: $purpleDark;
    }
}
.article__text {
    margin: 0px;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    color: $black;
}
.article__input--text {
    margin: 0px;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    color: $black;
    &::placeholder {
        font-size: 17px;
        font-weight: 300;
        line-height: 20px;
        color: $black;
    }
}
.article__input--text--area {
    width: 100%;
    height: auto;
}
.article__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    border-top: 1px solid rgba(57, 56, 159, .15);
    @include bp(desktop) {
        position: absolute;
        bottom: 0px;
        z-index: 1;
        width: 100%;
        border-radius: 0px 0px 0px 25px;
    }
}
.button--article {
    position: absolute;
    top: 32px;
    right: 16px;
    flex-direction: column;
    &--recruiter {
        background-color: $purpleDark;
    }
}
.button--article::before {
    width: 20px;
    height: 2px;
    margin-bottom: -2px;
    content: '';
    background-color: $white;
    border-radius: 2px;
    transform-origin: center;
    transform: rotate(45deg);
    transition: .3s;
}
.button--article::after {
    width: 20px;
    height: 2px;
    content: '';
    background-color: $white;
    border-radius: 2px;
    transform-origin: center;
    transform: rotate(-45deg);
    transition: .3s;
}
