.post {
    display: block;
    position: relative;
    width: calc(100vw - (35px + 35px));
    height: calc(100vh - (43px + 32px + 67px + 43px));
    margin-right: 15px;
    cursor: pointer;
    @include bp(tablet) {
        width: auto;
        height: auto;
        margin-right: 0px;
    }
}
.posts .post:last-child {
    margin-right: 0px;
}
.posts .post:nth-child(1) {
    @include bp(tablet) {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }
}
.posts .post:nth-child(2) {
    @include bp(desktop) {
        grid-row: 1 / 1;
        grid-column: 2 / 2;
    }
}
.posts .post:nth-child(3) {
    @include bp(tablet) {
        grid-row: 2 / 2;
        grid-column: 1 / 1;
    }
    @include bp(desktop) {
        grid-row: 1 / 1;
        grid-column: 3 / -1;
    }
}
.posts .post:nth-child(4) {
    @include bp(tablet) {
        grid-row: 2 / 2;
        grid-column: 2 / 2;
    }
    @include bp(desktop) {
        grid-row: 2 / 2;
        grid-column: 1 / 3;
    }
}
.posts .post:nth-child(5) {
    @include bp(tablet) {
        grid-row: 3 / 3;
        grid-column: 1 / 1;
    }
    @include bp(desktop) {
        grid-row: 2 / 2;
        grid-column: 3 / 3;
    }
}
.posts .post:nth-child(6) {
    @include bp(tablet) {
        grid-row: 3 / 3;
        grid-column: 2 / 2;
    }
    @include bp(desktop) {
        grid-row: 2 / 2;
        grid-column: 4 / 4;
    }
}
.posts .post:nth-child(7) {
    @include bp(tablet) {
        display: none;
    }
    @include bp(desktop) {
        display: block;
        grid-row: 3 / 3;
        grid-column: 1 / 1;
    }
}
.posts .post:nth-child(8) {
    @include bp(tablet) {
        display: none;
    }
    @include bp(desktop) {
        display: block;
        grid-row: 3 / 3;
        grid-column: 2 / 2;
    }
}
.posts .post:nth-child(9) {
    @include bp(tablet) {
        display: none;
    }
    @include bp(desktop) {
        display: block;
        grid-row: 3 / 3;
        grid-column: 3 / -1;
    }
}
.post__thumbnail {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    box-shadow: -1px 4px 18px 0 rgba(0, 0, 0, .5);
}
.post__content {
    position: absolute;
    bottom: 24px;
    left: 12px;
    z-index: 1;
}
.post__label {
    font-size: 15px;
    font-weight: 300;
    color: $white;
}
.post__title {
    margin: 8px 0px 0px 0px;
    font-size: 30px;
    font-weight: 500;
    color: $white;
}


