/*
    Font Families
 */

$fontFamily: 'Rubik', sans-serif;

/*
    Colors
 */

$blueDark: #39389F;
$blueMedium: #4F53FA;
$blueLight: #7375CB;
$cyan: #00E1FE;
$purple: #A100FF;
$pink: #CA6FDD;
$red: #4F53FA;
$orange: #FF9513;
$white: #FAFAFA;
$whiteMedium: #EFEFFC;
$whiteBlue: #98A6C3;
$black: #55595D;
