/*
    Font Families
 */

$fontFamily: 'Rubik', sans-serif;

/*
    Colors
 */

$blueDark: #39389F;
$blueMedium: #4F53FA;
$blueLight: #7375CB;
$cyan: #00E1FE;
$purpleDark: #6A1B9A;
$purpleMedium: #AD25FF;
$purpleLight: #BA69C8;
$pink: #CA6FDD;
$red: #4F53FA;
$orange: #FF9513;
$white: #FAFAFA;
$whiteMedium: #EFEFFC;
$whiteDark: #E6E4E4;
$whitePurple: #F0DEF3;
$whiteBlue: #98A6C3;
$black: #55595D;
$blackMedium: #2B2A2B;
